<!DOCTYPE html>
<html>
<head>
  <title>SpecScore</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='third'>
  <div id='container' class='container'>
    <%= yield %>
    <div id='push'></div>
  </div>
  <%= render('shared/footer') %>
</body>
</html>
